<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kerp.modules.basic.mapper.BaseCustomerMapper">

    <!-- 多表关联查询 SQL -->
    <select id="getOptions" resultType="com.example.kerp.modules.basic.vo.OptionVO">
        SELECT
            bc.id as 'id',
            bc.code as 'value',
            bc.name as 'label'
        FROM
            base_customer bc
        ORDER BY
            bc.create_time DESC
    </select>

</mapper>